<?xml version="1.0"?>
<launch>

  <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="robot_namespace" default="$(optenv ROBOT_NAMESPACE robot)"/>
  <arg name="tf_prefix" default="$(optenv TF_PREFIX robot)"/>
  <arg name="x" default="30.0"/>
  <arg name="y" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="urdf_extras" default="$(optenv HUSKY_URDF_EXTRAS)"/>
  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find husky_description)/launch/description.launch">
    <arg name="laser_enabled" default="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" default="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" default="$(arg urdf_extras)"/>
    <arg name="robot_namespace" default="$(arg robot_namespace)"/>
    <arg name="x" default="$(arg x)"/>
    <arg name="y" default="$(arg y)"/>
    <arg name="yaw" default="$(arg yaw)"/>    
    <arg name="tf_prefix" default="$(arg tf_prefix)"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_viz)/rviz/model.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
