<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      husky_empty_world.launch
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com, Devon Ash <dash@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

  <arg name="world_name" default="worlds/empty.world"/>

  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="pi" default="3.14159"/>
  <arg name="pi_2" default="1.57079" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find husky_gazebo)/worlds/multi_husky.world"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable $(arg world_name)-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/> <!-- made gui false to prevent it from opening -->
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>



  <!--<node name="rviz" pkg="rviz" type="rviz" /> args="-d $(find husky_viz)/rviz/robot.rviz" output="screen" -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_viz)/rviz/robot2.rviz" output="screen"/> -->
  
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="0.0"/>
    <arg name="y" value="9.0"/>
    <arg name="yaw" value="-1.57079"/>
    <arg name="robot_namespace" value="Husky0"/>
    <arg name="tf_prefix" value="H0_tf"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="0.0"/>
    <arg name="y" value="-9.0"/>
    <arg name="yaw" value="1.57079"/>
    <arg name="robot_namespace" value="Husky1"/>
    <arg name="tf_prefix" value="H1_tf"/>
  </include>

  
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-1.5"/>
    <arg name="y" value="0.0"/>  
    <arg name="yaw" value="-$(arg pi_2)"/>   
    <arg name="robot_namespace" value="Husky2"/>
    <arg name="tf_prefix" value="H2_tf"/>
  </include>  

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="1.5"/>
    <arg name="y" value="0.0"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky3"/>
    <arg name="tf_prefix" value="H3"/>
  </include>  

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-1.5"/>
    <arg name="y" value="-3.0"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky4"/>
    <arg name="tf_prefix" value="H4"/>
  </include>   

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="1.5"/>
    <arg name="y" value="-3.0"/>  
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky5"/>
    <arg name="tf_prefix" value="H5"/>
  </include>   

   <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-1.5"/>
    <arg name="y" value="3.0"/>  
    <arg name="yaw" value="-$(arg pi_2)"/>   
    <arg name="robot_namespace" value="Husky6"/>
    <arg name="tf_prefix" value="H6_tf"/>
  </include>  

   <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="1.5"/>
    <arg name="y" value="3.0"/>  
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky7"/>
    <arg name="tf_prefix" value="H7"/>
  </include>   


  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="4.5"/>
    <arg name="y" value="4.5"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky8"/>
    <arg name="tf_prefix" value="H8"/>
  </include>  


 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-4.5"/>
    <arg name="y" value="4.5"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky9"/>
    <arg name="tf_prefix" value="H9"/>
  </include>  

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="4.5"/>
    <arg name="y" value="1.5"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky10"/>
    <arg name="tf_prefix" value="H10"/>
  </include>  


 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-4.5"/>
    <arg name="y" value="1.5"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky11"/>
    <arg name="tf_prefix" value="H11"/>
  </include>      

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="4.5"/>
    <arg name="y" value="-1.5"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky12"/>
    <arg name="tf_prefix" value="H12"/>
  </include>  


 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-4.5"/>
    <arg name="y" value="-1.5"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky13"/>
    <arg name="tf_prefix" value="H13"/>
  </include>        

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="4.5"/>
    <arg name="y" value="-4.5"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky14"/>
    <arg name="tf_prefix" value="H14"/>
  </include>  


 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-4.5"/>
    <arg name="y" value="-4.5"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky15"/>
    <arg name="tf_prefix" value="H15"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="7.5"/>
    <arg name="y" value="0.0"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky16"/>
    <arg name="tf_prefix" value="H16"/>
  </include>  


 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-7.5"/>
    <arg name="y" value="0.0"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky17"/>
    <arg name="tf_prefix" value="H17"/>
  </include>            

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="7.5"/>
    <arg name="y" value="3.0"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky18"/>
    <arg name="tf_prefix" value="H18"/>
  </include>  


 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-7.5"/>
    <arg name="y" value="3.0"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky19"/>
    <arg name="tf_prefix" value="H19"/>
  </include>            

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="7.5"/>
    <arg name="y" value="-3.0"/>   
    <arg name="yaw" value="$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky20"/>
    <arg name="tf_prefix" value="H20"/>
  </include>  


 <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="x" value="-7.5"/>
    <arg name="y" value="-3.0"/>  
    <arg name="yaw" value="-$(arg pi_2)"/> 
    <arg name="robot_namespace" value="Husky21"/>
    <arg name="tf_prefix" value="H21"/>
  </include>            
 
</launch>
